<!DOCTYPE html>
<html lang="en" >

<head>
  <meta charset="UTF-8">
  <title>market-wp.com</title>
  
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css">

</head>
<style>

</style>
<body>
    <%%= include('partials/header') %>

  <div id='oopss'>
    <div id='error-text'>
        <img src="https://cdn.rawgit.com/ahmedhosna95/upload/1731955f/sad404.svg" alt="404">

    </div>
</div>
  
  

</body>

</html>