<%- include('./partials/header.ejs')%>
  <div class="LCont">
  </div>
  <div class="CCont">
    <div>
      

      <img src="../images/profile.jpg" width="200" height="200" alt="Profile spicture">


      <h2>
        Thanks for visiting Find a Snake LLC! 
      </h2>

      <p>


      </p>
    </div>
  </div>
  <div class="RCont"></div>
  <%- include('./partials/footer.ejs')%>