

<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>Profile Page</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
</head>
<body>
    <%- include('./partials/header.ejs')%>
    <div class="LCont">
    </div>
    <div class="CCont">
        <div>
            
        </div>
    </div>
    <div class="RCont"></div>
    <%- include('./partials/footer.ejs')%>

    
</body>
</html>