<footer class="footer">
    <nav>
        <ul class="footerLeftNav">

            <li><a href="/about">About Us</a></li>
            <li><a href="/contact">Contact Us</a></li>

            <iframe
                src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3255.955094543494!2d-80.73735268438385!3d35.30709725800595!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x88541c1ad0a92357%3A0x6b3f67f7f19324f3!2sUniversity%20of%20North%20Carolina%20at%20Charlotte!5e0!3m2!1sen!2sus!4v1631909837852!5m2!1sen!2sus"
                width="300" height="150" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
    </nav>
</footer>
</div>

</body>

</html>