<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/css/style.css">
    <title>Murtadha Marzouq</title>
</head>
<body>
    <nav>
        <h2>Murtadha Marzouq</h2>
        <a href='/'>Home</a>
        <a href='/stories'>Stories</a>
        <a href='/stories/new'>Create a New Story</a>
    </nav>